:root {
    --main-background-color: rgb(6, 6, 36);
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    padding: 0;
    background-color: var(--main-background-color)
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 148px;
    padding: 1.5rem;
}

.header-img-wrapper {
    height: 3em;
    display: flex;
    margin: 0.5rem;
}

header img {
    width: 100%;
    object-fit: cover;
}

.search-section {
    display: flex;
    gap: 8px;
    height: 100%;
    font-size: 1rem;
}

.submit-search-btn {
   height: 100%; 
}

.search-input-field {
    width: 220px;
    padding: 4px;

}

main {  
    width: 100%;
    min-height: calc(100dvh - 276px);
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2rem;
    flex: 1;  
}

h1 {
    font-family: 'Mystery Quest', sans-serif;
    color: white;
    text-align: center;
    margin: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.error-message {
    text-align: center;
    font-size: 1.1 rem;
    color: rgb(224, 146, 0);
}

.character-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
}

.character-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    padding: 1rem;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.character-card h2 {
    margin: 0;
    font-family: "Henny Penny", system-ui;
    font-size: 1.1rem;
    color: rgb(233, 233, 20);
}

.character-card img {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 0.25rem;
}

.character-card p {
    margin: 0;
    font-size: 0.85rem;
    color: #cfcfcf;
}

.card-img-wrapper {
    display: flex;
    object-fit: cover;
    justify-content: center;
    border-radius: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

img {
    max-width: 15rem;
    width: 100%;
}

footer {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.footer-link-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    color: white;
}

.footer-img-wrapper {
    height: 16px;
}

footer img {
    height: 100%;
    object-fit: cover;
}